{% extends 'inicio.html' %}
    {% block titulo %}  Flora   {% endblock titulo %}
    {% block cuerpo %}
    {% load static %}
        <header>
            <!-- Header Start -->
        <div class="header-area header-sticky">
                <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
                    
                    <div class="logo">
                        <a href="{% url 'inicio' %}"><img class="tamano" src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                    </div>

                    <!-- Main-menu -->
                    <div style = "width: 60%;" class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation"> 
                                <li><a href="{% url 'inicio' %}">Bio-Oro</a></li>
                                <li><a href="#">Orquideas</a></li>
                                <li><a href="#">Bromelias</a></li>
                            </ul>
                        </nav>
                    </div>          
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
        </div>
            <!-- Header End -->
        </header>
            
			<section> 
				<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    			<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
				<!--
				<link rel="stylesheet" href="../static/css/animate.css"> 
				<link rel="stylesheet" href="../static/css/especies.css"> 

				
				-->

				<link rel="stylesheet" href="{% static 'css/animate.css' %}">
				<link rel="stylesheet" href="{% static 'css/especies.css' %}"> 
			
 
    {% endblock cuerpo %}