{% extends 'inicio.html' %}
    {% block titulo %} Sugerencias {% endblock titulo %}
    {% block cuerpo %}
    {% load static %}
        <header>
            <!-- Header Start -->
            <div class="header-area header-sticky">
                    <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="{% url 'inicio' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div style = "width: 60%;" class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">                                                                                                                               
                                    <li><a style = "color: #000;" href="{% url 'inicio'%}">Bio-Oro</a></li>
                                    <li><a style = "color: #000;" href="{% url 'infoweb'%}">Acerca de Bio-Oro</a></li>
                                </ul>
                            </nav>
                        </div>          
                        
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
            </div>
        <!-- Header End -->
        </header>

        <div class="banner-inner" style="border-bottom: 5px solid #ffff00;"></div>
            
        
        <div class="principal">
            <link rel="stylesheet" href="{% static 'css/sugerencias.css' %}">
            <div class="contenedor">
                <img src="{% static 'assets/img/gallery/fondo_nuevas_especies.png' %}"></img>        
            </div>
            <div class="formulario">    
                <form id="contact" action="" method="post" enctype="multipart/form-data" >{% csrf_token %}
                    <h1>CONTÁCTANOS</h1>
                    <label for="nombre">Nombres</label>
                    <input name="nombre" type="nombre" tabindex="1" required>
                    <label for="email">Email</label>
                    <input name="email" placeholder="correo@example.com" type="email" tabindex="2" required>
                    <label for="asunto">Asunto</label>
                    <input name="asunto" type="tel" tabindex="3" required>
                    <label for="celular">Celular</label>
                    <input name="celular" type="celu"  tabindex="4" required>
                    <label for="comentario">Comentario</label>
                    <textarea name="comentario"  tabindex="5" required></textarea>
                    <label for="exampleFormControlFile1">Archivo adjunto</label>
                    <input name="file "type="file" class="form-control-file" id="file">
                    <button  name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
                </form> 
            </div>
        </div>    
    {% endblock cuerpo %}