{% extends 'inicio.html' %}
    {% block titulo %} Sugerencias {% endblock titulo %}
    {% block cuerpo %}
    {% load static %}
        <header>
            <!-- Header Start -->
        <div class="header-area header-sticky">
                <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="{% url 'inicio' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                    </div>
                    <!-- Main-menu -->
                    <div style = "width: 60%;" class="main-menu d-none d-lg-block">
                        <nav>
                            <ul id="navigation">                                                                                                                               
                                <li><a href="{% url 'inicio'%}">Bio-Oro</a></li>
                                <li><a href="{% url 'infoweb'%}">Acerca de Bio-Oro</a></li>
                            </ul>
                        </nav>
                    </div>          
                    
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
        </div>
        <STYLE type="text/css">
            h3 { text-align: center}
            
        </STYLE>
        
            <!-- Header End -->
        </header>
        <main>
            <!-- Types class Start -->
            <div class="banner-inner" style="border-bottom: 5px solid #ffff00;">
                
            </div>
            <div class="container">  
                <link rel="stylesheet" href="{% static 'css/sugerencias.css' %}">
                
                <form id="contact" action="" method="post">{% csrf_token %}
                 
                  <h3><b>CONTÁCTANOS<b></h3>
                  <fieldset>
                    <label for="email">Email</label>
                    <input name="email" placeholder="correo@example.com" type="email" tabindex="1" required>
                  </fieldset>
                  <fieldset>
                    <label for="asunto">Asunto</label>
                    <input name="asunto" type="tel" tabindex="2" required>
                  </fieldset>
                  <fieldset>
                    <label for="celular">Celular</label>
                    <input name="celular" type="celu"  tabindex="3" required>
                  </fieldset>
                  <fieldset>
                    <label for="comentario">Comentario</label>
                    <textarea name="comentario"  tabindex="4" required></textarea>
                  </fieldset>
                  <fieldset>
                    <label for="exampleFormControlFile1">Archivo adjunto</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </fieldset>
                  <fieldset>
                    <button  name="submit" type="submit" id="contact-submit" data-submit="...Sending">Enviar</button>
                  </fieldset>
                </form>  
              </div>
        </main>
    {% endblock cuerpo %}