.logo a img{
    height: 40px;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background-color: #465d47;
    transform:translateX(-50%) trotateY(-50%);
}
#video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: -10;
    visibility: visible;
}

video{
    width: 100%;
}

.menu-foto{
    margin-left: 45px; 
    margin-right: 45px;
}

.video-container img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.info{
    width: 100%;
    max-height: 25%;
    display: block;
    margin: auto;
}


form{
    text-align: center;
}

.redes_sociales {
    width: 100px;
    position: fixed;
    bottom: 40%;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.redes_sociales ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: all 0.5s;
}

.redes_sociales ul li {
    list-style: none;
    width: 80%;
}
.redes_sociales ul li:hover {
    width: 100%;
    transition: all 0.5s;
}
.redes_sociales ul li a {
    text-align: center;
    padding: 10px;
    display: block;
    color: white;
}

.redes_sociales ul li .fa-facebook {
    background: black;
}

.redes_sociales ul li .fa-twitter {
    background: black;
}

.redes_sociales ul li .fa-instagram {
    background: black;
}

.redes_sociales ul li a:hover {
    background: #78b242;
}

@media screen and (max-width: 1024px){
    .menu-foto{
        margin-left: 35px; 
        margin-right: 35px;
    }

    .clients-area .single-offers .offers-img img{
        height: 7em; 
    }

    .clients-area .single-offers .offers-cap h3 a{
        margin: 10px;
    }
    .section-padding30{
        padding-top: 0px;
        padding-bottom: 0px;
    }
    video{
        width: auto;
    }
}

@media screen and (max-width: 768px){
    
    .row {
        display: block;
    }

}